/.project
.DS_Store
apigateway/openshift/techzone-values.yaml
apigateway/openshift/licenseKey.xml
apigateway/openshift/cluster-discovery-rolebinding.yaml
apigateway/openshift/cluster-discveory-role.yaml
